/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #8FAADC;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.input-section label {
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 15px;
    background-color: #4267B2;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.output-section {
    margin-top: 20px;
}

.graph-section {
    margin-top: 20px;
}
